header.header.d-flex.justify-content-between.align-items-center.bg-dark.px-3.position-fixed.w-100(style="height:60px;")
    .logo 
        a.text-light(href="/index") LOGO
    .navi-wrap.d-flex
        a.text-light.p-3(href="/index") HOME 
        a.text-light.p-3(href="/about") ABOUT 
        a.text-light.p-3(href="/pf") PORTFOLIO 
        a.text-light.p-3(href="/join") JOIN 