extends ./layout/default.pug
block titleBar 
    h1 About 페이지 타이틀
    //-생성자에 대한 데이터 값
block contents 
    h3 About 페이지 내용
    .aboutBx 
        .imgBox 

        .txtBox 
            p 나의 소개란


    
    //-생성자에 대한 데이터 값