doctype html 
html(lang="ko") 
    head 
        title Test PUG
        link(rel="stylesheet" href="/css/bootstrap.min.css")
        link(rel="stylesheet" href="/css/common.css")
        link(rel="stylesheet" href="/css/index.css")
    body
        .container 
            .jumbotron 
                h1 PUG의 테스트 페이지
                    small pug를 활용한 웹사이트 구성하기
